{% extends 'base.html' %}

{% block title %}Add Task{% endblock %}

{% block content %}
    <h1>Add Task</h1>

    <div class="form-container" style="position: relative;">
        
        <a href="{% url 'home' %}" style="position: absolute; top: 5px; left: 10px; font-size: 24px; text-decoration: none; color: red;">&times;</a>

        <form method="POST" class="task-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-container">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="error-message">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Create Task</button>
        </form>
    </div>
{% endblock %}
