{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <a href="{% url 'home' %}" style="text-decoration: none;">
            <h1 class="todo-header">To-do List!</h1>
        </a>

        <!-- Door Icon with Logout Action -->
        <a href="{% url 'logout' %}" id="logout-link" style="position: absolute; left: 15px; top: 10px; font-size: 1.5rem; color: var(--error-color); transition: color 0.3s ease;">
            <i class="fa fa-door-open"></i>
        </a>

        <!-- Search Form -->
        <form action="{% url 'search_task'%}" method="GET" style="flex-grow: 0; margin-left: 10px;">
            <input type="text" id="search-task" name="task_name" placeholder="Search task" style="width: 200px; padding: 0.4rem; border-radius: 50px; border: 1px solid var(--border-color); font-size: 0.9rem;">
        </form>
    </div>
    
    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}
    
    <!-- Add Task -->
    <form action="{% url 'add_task'%}" method="GET">
        <button type="submit" class="small-btn">Add Task</button>
    </form>

    <!-- Task List -->
    <div class="task-list">
        {% for task in tasks %}
        <div class="task-item">
                <!-- {% if task.priority == 'UI' %}
                    <span class="UI-tasks" onclick="toggleTaskCompletion(this)">
                        {{task.name}}
                    </span>
                {% endif %}

                {% if task.priority == 'U' %}
                    <span class="U-tasks" onclick="toggleTaskCompletion(this)">
                        {{task.name}}
                    </span>
                {% endif %}

                {% if task.priority == 'I' %}
                    <span class="I-tasks" onclick="toggleTaskCompletion(this)">
                        {{task.name}}
                    </span>
                {% endif %}

                {% if task.priority == 'C' %}
                    <span class="C-tasks" onclick="toggleTaskCompletion(this)">
                        {{task.name}}
                    </span>
                {% endif %} -->
                <span class="task-text" onclick="toggleTaskCompletion(this)">
                    {{ task.name }}
                </span>
                
            <div class="task-actions">
                <form action="{% url 'update_task' task.id %}" method="GET" style="display: inline;">
                    <button type="submit" class="small-btn">Edit</button>
                </form>
                <form action="{% url 'delete_task' task.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="small-btn delete-btn">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <script>
        // JavaScript for logout confirmation
        document.getElementById('logout-link').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default link behavior
            if (confirm("Are you sure you want to log out?")) {
                window.location.href = "{% url 'logout' %}";  // Redirect to logout URL if confirmed
            }
        });

        function toggleTaskCompletion(taskElement) {
            taskElement.classList.toggle("completed");
        }

    </script>

{% endblock %}


